#title1{
    font-size: 25px;
}

#city-name{
    height: 38px;
    width: 250px;
}

.list-group{
    list-style-type: none;
}

body {
    background-color: lightgray; 
}

.col-3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.col-9 {
    max-width: 90%;
    background-color: white;
    border-radius: 5px;
    padding: 10px; 
    box-shadow: 0 0 20px; 
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-size: 20px;
}

#city {
    font-size: 30px;
    color: black;
    font-weight: bold;
}

.date {
    font-size: 30px;
    color: black;
    font-weight: bold;
}


.green {
    background-color: green;
    font-size: 25px;
    color: white;
}
.yellow {
    background-color: yellow;
    font-size: 25px;
    color: black;
}
.red {
    background-color: red;
    font-size: 25px;
    color: white;
}

h2 {
    text-align: center;
    font-weight: bold;
}

.timeCard {
    background-color: blue;
    color: white;
    margin: 10px;
    padding: 10px;
    float: left;
    border-radius: 5px;
    box-shadow: 0 5px 20px;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}

.tempF, .humidity, .wind, .uv{
    font-weight: bold;
    line-height: 2.4em;
}